* {
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    align-items: center;
}
header {
    flex-direction: row;
}
h1{
    font-size: 3em;
}
h2 {
    font-size: 2em;
}

.task-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: 300px;

}